@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');
body {
text-align: center;
font-family: "Arial", "Meiryo", sans-serif;
}
: root　{
font-size:20px;
}
.font-class{
font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
font-weight: normal;
font-style: normal;
}
h1 {
font-size:2rem;
letter-spacing:1.5em;
text-shadow: 1px 1px 2px red;
border-bottom: solid 2px rgb(115, 115, 114);
font-family: "Josefin Sans", sans-serif;
}
.skyblue-color{
color: sky blue;
}
.pink-color{
color:rgb(255, 192, 203);
}
.i-answer{
font-weight: bold;
}
p.top-child strong {
font-weight:　bold;
}
