body {
text-align:center;
font-family:"Arial", "Meiryo", sans-serif;
}
: root{
font-size:20px;
}
h1 {
font-size:40px;
letter-spacing:1.5em;
text-shadow: 0px 1px 4px red;
border-bottom: solid 2px RGB(115, 115, 114);
font-family:// <uniquifier>: Use a unique and descriptive class name
            // <weight>: Use a value from 100 to 700

            .josefin-sans-<uniquifier> {
              font-family: "Josefin Sans", sans-serif;
              font-optical-sizing: auto;
              font-weight: <weight>;
              font-style: normal;
            }
}
.skyblue-color{
color:skyblue;
}
.pink-color{
color: RGB(255, 192, 203);
}
.i-answer{
font-weight:bold;
}
p{
font-weight: normal;
}
